
<body class="#80d8ff light-blue accent-1">
  <div class="container">

  <div class="navigation">
  <ul>
    <li><a id="about" class="blue-text text-darken-4" href="/about">About</a></li>
    <li><a id="work" class="blue-text text-darken-4" href="/works">Work</a></li>
    <li><a id="contact" class="blue-text text-darken-4" href="/contact">Resume</a></li>
    <li><a id="github" class="blue-text text-darken-4" href="https://github.com/zenoner">GitHub</a></li>
  </ul>
  </div>
  <div class="tagLine">
    <h1 class="blue-text text-darken-4">Hey, my name is Seiji,</h1>
    <h4 class="blue-text text-darken-4">a Full Stack Developer</h4>
    <h5 class="blue-text text-darken-4">Rails-HTML-CSS-JS-NodeJS</h5>
  </div>
  <div class="portfolio">
    <div class="project">Project1</div>
    <div class="project">Project2</div>
    <div class="project">Project3</div>
    <div class="project">Project4</div>
  </div>
  <div class="aboutMe">
    <h3>About me</h3>
  </div>
  <div class="footer">
    <ul>
      <li><%= image_tag "mail.svg", size: '30x30' %></li>
      <li><%= image_tag "twitter.svg", size: '30x30' %></li>
      <li><%= image_tag "github.svg", size: '30x30' %></li>
      <li><%= image_tag "linkedin.svg", size: '30x30' %></li>
    </ul>
  </div>


  </div> <!-- the end of container  -->
</body>
