
<body class="#80d8ff light-blue accent-1">
  <div class="container">
    <a id="about" class="blue-text text-darken-4" href="/about">About</a>
    <a id="work" class="blue-text text-darken-4" href="/works">Work</a>
    <a id="contact" class="blue-text text-darken-4" href="/contact">Contact</a>
    <a id="github" class="blue-text text-darken-4" href="https://github.com/zenoner">GitHub</a>



    <h1 class="blue-text text-darken-4">Seiji Mendoza</h1>
    <h4 class="blue-text text-darken-4">Full Stack Developer</h4>


  </div>
</body>
