
<ul>
  <a href="/about"><li>About</li></a>
  <li>Work</li>
  <a href="/contact"><li>Contact</li></a>
  <a href="https://github.com/zenoner"><li>GITHUB</li></a>
</ul>


<h1>Seiji Mendoza</h1>
<h3>Full Stack Developer</h3>

