<body class="#90caf9 blue lighten-3">

<button><a href="/">my homepage</a></button>
<h1>this is bio</h1>

<img src="https://lh5.googleusercontent.com/-i5InnNdj0v8/AAAAAAAAAAI/AAAAAAAAAG4/_3NiH1BKnVg/photo.jpg">

<p>My name is Seiji</p>
<p>Former pharmaceutical formulator</p>
<p>I love creating new things</p>
<p>I make the user experiences better the websites</p>


<p>Resume</p>


</body>

