<body class="#90caf9 blue lighten-3">

<button><a href="/">back:</a></button>
<h1>Seiji Mendoza:</h1>

<img src="https://lh5.googleusercontent.com/-i5InnNdj0v8/AAAAAAAAAAI/AAAAAAAAAG4/_3NiH1BKnVg/photo.jpg">

<h4>Web Developer</h4>
<h4>Former pharmaceutical formulator</h4>
<h4>I love creating new things</h4>
<h4>I make the user experiences better the websites</h4>
<h4>Resume</h4>


</body>

