// Place all the styles related to the app controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize";

 html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

*{
  border-style: dotted;
  border-width: 1px;
}

body {
  text-align: center;
}

.container {
  margin-top: 200px;
}

.row {
  border-style: dotted;
}

a {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 30px;
}
a:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
a:hover:after {
  width: 100%;
  background: blue;
}
